.renew {
  background-color: red;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.badge{
  border: 1px green solid;
  padding:10px;
  margin-top: 10px;
}

.badge2{
  border: 1px blue solid;
  margin:10px ;
  padding:10px;
}
